/*Top Nav*/
.main-nav{
  display: flex;
  background-color: black;
  min-height: 30px;
  padding: 10px;
  position: fixed;
  text-align: center;

}
.nav li{
  display: inline-block;
  font-weight: 700;
  display: flex;
}


header {
  text-align:center;
}
