/*Top Nav*/
.main-nav{
  background-color: black;
  min-height: 30px;
  padding: 10px;
  position: fixed;
  width: 100%;

}
.nav{
  display: flex;
  justify-content: space-around;
  font-weight: 700;
  list-style-type: none;
  margin: 0 auto;
}

#name {
  display: block;
  margin-right: auto;
  color: white;
}

/* Header elements*/
#profile_pic{
  margin-top: 100px;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  border: 3px solid grey;
  transition: all .5s;
}

#profile_pic:hover {
  transform: scale(1.3) rotate(25deg);
}

header.banner {
  text-align:center;
  background-color: teal;
  padding: 3px;
  margin-bottom: 5px;
}

.banner h1 {
  color: #eee;
}

/*Body Elements*/

.row {
  display: flex;
}

.card {
  /*border: 1px solid grey;
  border-radius: 10px;
  margin-left: auto;*/
}


/*Footer elements*/
footer{
  text-align: center;
  margin-top: 15px;
}
